th.callout-inner {
  border: 0;
}

.callout-header {
  background: $panel-default-heading-bg;
  padding: $panel-heading-padding;

  // Pushes back against the callout padding
  margin: -#{$callout-padding} -#{$callout-padding} $callout-padding -#{$callout-padding};
  Margin: -#{$callout-padding} -#{$callout-padding} $callout-padding -#{$callout-padding};
}

.callout-title {
  color: $panel-default-text;
  font-size: $font-size-h3;
  margin-bottom: 0;
  Margin-bottom: 0;
}
