.request-attachment {

  &-name {
    font-weight: bold;
  }
}

.request-attachments {

  > .request-attachment:not(:last-child) {
    margin-bottom: 10px;
    Margin-bottom: 10px;
  }
}


.request-comment {
  padding: $callout-padding;

  &-header {
    font-weight: bold;
    margin-bottom: 10px;
    Margin-bottom: 10px;
  }
}

.request-comments {
  margin: -#{$callout-padding};

  > .request-comment:not(:last-child) {
    border-bottom: 1px solid $medium-gray;
  }
}


.request-data {

  dl {
    margin: 0;
    Margin: 0;
  }

  dt {
    float: left;
    font-weight: bold;
    width: 150px;
  }
}
