.request__attachment {

  &__name {
    font-weight: bold;
  }
}

.request__attachments {

  > .request__attachment:not(:last-child) {
    margin-bottom: 10px;
    Margin-bottom: 10px;
  }
}


.request__comment {
  padding: $callout-padding;

  &__header {
    font-weight: bold;
    margin-bottom: 10px;
    Margin-bottom: 10px;
  }
}

.request__comments {
  margin: -#{$callout-padding};

  > .request__comment:not(:last-child) {
    border-bottom: 1px solid $medium-gray;
  }
}


.request__data {

  dl {
    margin: 0;
    Margin: 0;
  }

  dt {
    float: left;
    font-weight: bold;
    width: 150px;
  }
}
